.courses {
  position: relative;

  &__filter-button {
    width: 100%;
    justify-content: center;
    background-color: var(--color-grey);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
  }

  &__navigation {
    border-radius: var(--border-radius-l);

    @include mobile-above {
      background-color: var(--color-grey-03);
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-block: fluid-to-laptop(20, 0);
      column-gap: 15px;
      overflow-y: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;

      & > :first-child {
        background-color: var(--color-accent);
        color: var(--color-white);
        pointer-events: none;
      }

      @include mobile {
        justify-content: flex-start;
      }

      &-item {
        flex-shrink: 0;
        border-radius: var(--border-radius-xl);

        @include mobile {
          background-color: var(--color-grey);

          &:has(a.is-active) {
            display: none !important;
          }
        }
      }

      &-link {
        padding: fluid-to-laptop(20, 10);
        border-radius: var(--border-radius-xl);

        &.is-active {
          background-color: var(--color-accent);
          color: var(--color-white);
          pointer-events: none;
        }

        @include hover(false) {
          background-color: var(--color-grey);
        }
      }
    }
  }

  &__applied-filters {
    display: flex;
    column-gap: 10px;

    &:not(:has(&-item.is-active)) {
      display: none;
    }

    &-item {
      display: flex;
      align-items: center;
      background-color: var(--color-accent);
      color: var(--color-white);
      border-radius: var(--border-radius-xl);
      padding: 3px 10px;

      &:not(.is-active) {
        display: none;
      }
    }

    &-button {
      svg,
      span {
        pointer-events: none;
      }
    }
  }

  .section__body {
    display: flex;
    flex-direction: column;
    row-gap: fluid-to-laptop(50, 30);
  }

  &__body {
    display: flex;
    column-gap: 100px;
    row-gap: 50px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    &-item {
      max-width: 400px;
    }
  }
}
