.results {
  &__hero {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-grey);
    border-radius: var(--border-radius-l);
    padding: fluid-to-laptop(100, 50);

    @include mobile {
      flex-direction: column;
      row-gap: 25px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      align-items: start;

      @include mobile {
        align-items: center;
      }
    }

    &-title {
      font-size: fluid-to-laptop(60, 30);
    }

    &-subtitle {
      font-size: fluid-to-laptop(40, 20);
    }

    &-image {
      object-fit: contain;
      border-radius: var(--border-radius-l);
    }
  }

  &__researches {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 50px;
    padding: fluid-to-laptop(50, 25);

    @include mobile {
      flex-direction: column;
      row-gap: 25px;
    }

    &-block {
      @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &-title {
      font-size: fluid-to-laptop(40, 20);
    }

    &-chart-list {
      display: flex;
      align-items: end;
      column-gap: 10px;
      background-color: var(--color-accent);
      padding: 30px;
      border-radius: var(--border-radius-l);

      @include mobile {
        align-items: center;
        flex-direction: column;
        row-gap: 15px;
      }

      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: var(--border-radius-l);
        padding: 10px;
        width: 200px;
        background-color: var(--color-white);

        span:first-child {
          font-size: 20px;
          font-weight: 700;
        }

        &:nth-child(1) {
          height: 200px;
        }
        &:nth-child(2) {
          height: 150px;
        }
        &:nth-child(3) {
          height: 100px;
        }
      }
    }
  }
}
