.hero {
  &__grid {
    --gap: 20px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: var(--gap);

    @media (width <= 1250px) {
      grid-template-columns: 1fr;
      row-gap: var(--gap);
    }

    &-column {
      display: flex;
      flex-direction: column;
      row-gap: var(--gap);

      &--large {
        .hero__grid-content {
          &--side {
            display: flex;
            gap: var(--gap);
            flex-wrap: wrap;
          }
        }
      }

      &--small {
        .hero__grid-content {
          &--side {
            display: flex;
            flex-direction: column;
            row-gap: var(--gap);

            @media (width <= 1250px) {
              flex-direction: row;
              column-gap: var(--gap);
            }
          }
        }
      }
    }
  }

  .slider {
    border-radius: var(--border-radius-l);
    background-color: var(--color-accent-02);

    &-navigation {
      &__pagination {
        padding: fluid-to-laptop(30, 20);
      }
    }
  }
}
