.courses {
  position: relative;

  .display-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-grey-02);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
  }

  &__navigation {
    background-color: var(--color-grey-03);
    border-radius: var(--border-radius-l);

    @include mobile {
      background-color: transparent;
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-block: fluid-to-laptop(20, 0);
      column-gap: 15px;
      overflow-y: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;

      @include mobile {
        justify-content: flex-start;
      }

      &-item {
        flex-shrink: 0;
        border-radius: var(--border-radius-xl);

        &.is-active {
          background-color: var(--color-accent);
          color: var(--color-white);
          pointer-events: none;
        }

        &:has(a.is-active) {
          background-color: var(--color-accent);
          color: var(--color-white);
          pointer-events: none;
        }

        @include mobile {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--color-grey-02);

          &:has(a.is-active) {
            display: none;
          }
        }

        &--special {
          padding: fluid-to-laptop(20, 10);
        }
      }

      &-link {
        padding: fluid-to-laptop(20, 10);

        border-radius: var(--border-radius-xl);

        &.is-active {
          pointer-events: none;
        }

        @include hover(false) {
          background-color: var(--color-grey-02);
        }
      }
    }
  }

  .section__body {
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    @include mobile {
      row-gap: 30px;
    }
  }

  &__body {
    display: flex;
    column-gap: 100px;
    row-gap: 50px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    &-item {
      max-width: 400px;
    }
  }
}
