.filters {
  --filterPaddingTop: #{fluid(120, 60)};

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  row-gap: 15px;
  position: sticky;
  top: var(--filterPaddingTop);
  align-self: start;

  @include mobile {
    position: fixed;
    padding: 20px;
    width: 100%;
    height: 100dvh;
    inset: 0;
    background-color: var(--color-white);
    z-index: 1000;

    &:not(.is-active) {
      display: none !important;
    }
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__subcategories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;

    @include mobile {
      width: 100%;
      align-items: center;
    }
  }

  &__radio-button {
    position: relative;
    display: inline-flex;
    border-radius: var(--border-radius-xl);
    background-color: var(--color-grey);
    padding: fluid-to-laptop(15, 10);

    @include mobile {
      width: 100%;
      border-radius: var(--border-radius-l);
    }

    &:has(input:checked) {
      color: var(--color-white);
      background-color: var(--color-accent);
      pointer-events: none;
    }

    @include hover {
      background-color: var(--color-grey-02);
    }

    input {
      position: absolute;
      opacity: 0;
    }
  }

  &__range {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 100%;

    &-header {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }

    &-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 10px;
    }

    &-slider {
      --slider-progress: 100%;

      width: 100%;
      height: 6px;
      border-radius: 5px;
      background: linear-gradient(
        to right,
        var(--color-accent) 0%,
        var(--color-accent) var(--slider-progress, 50%),
        #ddd var(--slider-progress, 50%),
        #ddd 100%
      );
      outline: none;
      appearance: none;

      &::-webkit-slider-track {
        width: 100%;
        height: 6px;
        background: var(--color-grey);
        border-radius: 5px;
        border: none;
      }

      &::-webkit-slider-thumb {
        appearance: none;
        width: 20px;
        height: 20px;
        background: var(--color-accent);
        border-radius: 50%;
        cursor: pointer;
      }

      &::-moz-range-track {
        width: 100%;
        height: 6px;
        background: var(--color-grey);
        border-radius: 5px;
        border: none;
      }
      &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: var(--color-accent);
        border-radius: 50%;
        cursor: pointer;
      }
      &::-moz-range-progress {
        background: var(--color-accent);
        border-radius: 5px;
        height: 6px;
      }
    }
  }

  &__buttons {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &__button {
    &--cancel,
    &--close {
      background-color: var(--color-grey-02);
    }

    &--cancel,
    &--apply {
      &:not(.is-active) {
        display: none !important;
      }
    }
  }
}
